{% extends template %}

{% block title %}
    Welcome on main
{% endblock %}

{% block body %}
    <div id="status">
        <p>
          We are here ^^
        </p>
    </div>
    <a href="http://localhost/myProject/web/app_dev.php">homepage</a>
    <a href="http://localhost/myProject/web/app_dev.php/test">test</a>

    </div>
    </div>
    </div>
{% endblock %}

